<footer class="footercontent">
    
    <div>
        <p>Student's Furniture Hub    |      <a href="/about"> ABOUT</a>       |     <a href="/contact">CONTACT</a>     | </p>
        <p><a href="#" class="fa fa-facebook"></a> |
            <a href="#" class="fa fa-instagram"></a> |
            <a href="#" class="fa fa-twitter"></a>
        </p>

    </div>
</footer>
</body>
</html>