<%- include('./partials/header.ejs')%>
    <div class="alignn">
        <h1>Students Furniture Hub</h1>
        <h2>This a furniture hub where students can sell and buy their furniture.</h2>
    </div>
<%- include('./partials/footer.ejs')%>
