<%- include('./partials/header.ejs')%>
    <div class="alignn">
        <h2>Contact Details:</h2>
        <h3>Contact this email-id for any information: lgobburi@uncc.edu</h3>
        <h3>Phone number: 98098080</h3>
    </div>
<%- include('./partials/footer.ejs')%>
