<%- include('./partials/header.ejs')%>
    <div class="maintext">
        <h1>Welcome to Student's Furniture Hub!</h1>
        <h3>This furniture hub is designed for students where they can trade the furniture. Other students who are about to move in can take a look over the furniture and buy.</h3>
        <h3>You can get access to the best resouces at our place. </h3>
    </div>  
<%- include('./partials/footer.ejs')%>
